.cards-primary {
    margin: 3rem auto 0px auto;
    padding: 0px 1rem 0px 1rem;
    max-width: 1280px;
}
@media (min-width: 1024px) {
    .cards-primary {
        padding: 0px 2rem 0px 2rem;
    }
}
.cards-primary .cards-header {
    text-align: center;
}
.cards-primary .cards-header h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #1f2937;
    font-weight: 600;
}
.cards-primary .cards-header p {
    margin-top: 0.75rem;
    color: #6b7280;
}
.cards-primary .card-container {
    margin-top: 3rem;
    display: grid;
    gap: 0.5rem;
}
@media (min-width: 640px) {
    .cards-primary .card-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    .cards-primary .card-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.cards-primary .card-container .card {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    max-width: 28rem;
    margin: 1rem auto 0px auto;
    border: solid 1px #e5e7eb;
    border-radius: 0.375rem;
    transition-duration: 300ms;
}
.cards-primary .card-container .card:hover {
    box-shadow: 0 1px 2px 0 #0000000d;
}
.cards-primary .card-container .card .card-details img {
    width: 100%;
    height: 12rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.cards-primary .card-container .card .card-details .card-header {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem 0px 1rem;
    padding-top: 0.75rem;
}
.cards-primary .card-container .card .card-details .card-header .avatar {
    flex: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.cards-primary .card-container .card .card-details .card-header .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.cards-primary .card-container .card .card-details .card-header .info {
    margin-left: 0.75rem;
}
.cards-primary .card-container .card .card-details .card-header .info .author-name {
    display: block;
    color: #111827;
}
.cards-primary .card-container .card .card-details .card-header .info .date {
    display: block;
    color: #9ca3af;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.cards-primary .card-container .card .card-details .card-footer {
    padding-top: 0.75rem;
    margin: 0px 0.5rem 0.75rem 1rem;
}
.cards-primary .card-container .card .card-details .card-footer h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #111827;
}
.cards-primary .card-container .card .card-details .card-footer p {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9ca3af;
}