.footer-primary {
    color: #6b7280;
    background-color: #FFF;
    padding: 1.25rem 1rem 1.25rem 1rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.footer-primary .footer-header {
    max-width: 32rem;
}
.footer-primary .footer-header img {
    width: 8rem;
}
@media (min-width: 640px) {
    .footer-primary .footer-header, .footer-primary .footer-header img {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-primary .footer-header p {
        text-align: center;
    }
}
.footer-primary .footer-header p {
    line-height: 1.625;
    margin-top: 0.5rem;
    font-size: 15px;
}
.footer-primary .items-list {
    margin-top: 2rem;
}
.footer-primary .items-list > * + * {
    margin-top: 1.25rem;
}
@media (min-width: 640px) {
    .footer-primary .items-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-primary .items-list > * + * {
        margin-top: 0px;
    }
    .footer-primary .items-list > * + * {
        margin-left: 1rem;
    }
}
.footer-primary .items-list .item:hover {
    color: #1f2937;
}
.footer-primary .copyright-slmedia {
    margin-top: 2rem;
}
.footer-primary .copyright-slmedia .copyright {
    margin-top: 1rem;
}
.footer-primary .copyright-slmedia .sl-media {
    margin-top: 1.5rem;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list {
    display: flex;
    align-items: center;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list > * + * {
    margin-left: 1rem;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px #e5e7eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon path, .footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon polygon, .footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon rect {
    fill: currentColor;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon-1 {
    color: #60a5fa;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon-2 {
    color: #1d4ed8;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon-3 {
    color: #3b82f6;
}
.footer-primary .copyright-slmedia .sl-media .sl-media-list .sl-media-icon .svg-icon-4 {
    color: #dc2626;
}
@media (min-width: 640px) {
    .footer-primary .copyright-slmedia {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-primary .copyright-slmedia .copyright, .footer-primary .copyright-slmedia .sl-media {
        margin-top: 0px;
    }
}