
.ha-form-container{
    padding: 15px;
    width: 60%;
    position: relative;
    margin: 10px auto;
}
.ha-form-container .ha-close-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    font-weight: lighter;
}


.ha-form{
    padding: 15px;
    text-align: left;
}

.form-container {
    padding: 0px 1rem 0px 1rem;
    margin: 3rem auto 0px auto;
    box-shadow: 0 5px 15px -1px rgb(0 0 0 / 16%);
    width: 100%;
}
.form-container .email-primary label,.form-container .pass-primary{
    margin-bottom:10px ;
}
.form-container .email-primary label,.form-container .pass-primary label {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6b7280;
}
.form-container .email-primary .email-container, .form-container .pass-primary .pass-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: solid 1px #e5e7eb;
    border-radius: 0.375rem;
}
.form-container .email-primary .email-container .email-icon, .form-container .pass-primary .pass-container .pass-icon {
    width: 1.75rem;
    height: 1.75rem;
    color: #9ca3af;
}
.form-container .email-primary .email-container .email-input, .form-container .pass-primary .pass-container .pass-input {
    width: 100%;
    padding: 0.25rem;
    margin-left: 0.75rem;
    color: #6b7280;
    outline: none;
    background: transparent;
}

.ha-login-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
.ha-form-link{
    text-align: right;
    color: #1d4ed8;
    line-height: 40px;
    font-size: 15px;
}

@media (max-width: 640px) {
    .ha-login-bottom{
        flex-flow: column;

    }
    .ha-form-container {
        width: 100%;
    }
}

.ha-error-msg{
    color: red;
}