.ha-register-container{
    width: 60%;
    padding: 15px;
    position: relative;
    margin: 20px auto;
}

.ha-register-form{

    width: 100%;
    margin: 50px auto;
    box-shadow: 0 5px 15px -1px rgb(0 0 0 / 16%);
    padding: 15px;
    position: relative;

}

.ha-register-btn{
    width: 100px !important;
    height: 35px !important;
    font-size: 16px !important;
}

.ha-close-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    font-weight: lighter;
}

.ha-logo-area{
    padding: 15px;
    margin: 20px auto;
}

.ha-custom-form{
    padding: 15px !important;
}

.ha-custom-form Input{
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

@media (max-width: 640px) {
    .ha-register-container {
        width: 100%;
    }
}